body {
  padding: 2rem 5rem; /* ARRIBA-ABAJO IZQ-DER */
  padding: 2rem 5rem 20rem; /* ARRIBA IZQ-DER ABAJO */
  padding: 2px 50% 2px 5rem; /* ARRIBA DER IZQ ABAJO */

  padding-left: 2rem;
  padding-right: 4rem;
  padding-top: 3rem;
  padding-bottom: 5rem;

  padding-inline: 30px; /* IZQ Y DER */
  padding-inline: 30px 20px; /* IZQ Y DER */
  padding-block: 20px; /* ARRIBA Y ABAJO */
  padding-block: 30px 20px; /* ARRIBA MY ABAJO */
}
